body {
  background-color: #90e0ef;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ff5400;
}

.avatar {
  width: 150px !important;
  height: 150px !important;
  margin-left: 2rem;
  border: 3px solid #ff5400;
}
